@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Oswald:wght@200;300;400&family=Raleway:ital,wght@0,200;1,300&family=Roboto:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}